.movieContainer {
  background-color: aqua;
  text-align: center;
}

.movieInnerContainer {
  display: flex;
  flex-direction: column;
}

.loadingText{
  display: flex;
  justify-content: center;
  align-items: center;
}